page-schedule {

  ion-scroll{
      white-space: nowrap;
      height: 100%;
      background-image: linear-gradient(#562d4a, #7a4d60);
  }

  .toolbar-background{
    opacity: 1;
  }

  #optionsID{
    color: rgb(255, 255, 255);
    font-size: 35px;
  }

  #pushMeister{
  height: 50px;
  width: 100%;
}
#pushMeister2{
  height: 100%;
  width: 100%;
}



  .grid{
  display: flex;
  height: 100%;
  padding: 0px;
  }

  .text-block {
    position: relative;
    color: white;
    padding-left: 15px;
    bottom: 10%;
}

  #text-block-title{
    top:10px;
    font-size: 25px;
    color: white;
    background: transparent;
    border:0;
    resize: none;
  }
  #text-block-time{
    font-size: 15px;
    bottom: 5px;
  }

  #arrow{
    color: white;
    font-size: 38px;
    position: absolute;
    left:78.5%;
    top:58%;
    filter: drop-shadow(5px 5px 3px black);
  }

  #close{
    height: 25px;
    width: 25px;
    position: absolute;
    left:76%;
    top:20%;
    filter: drop-shadow(5px 5px 3px black);
  }

  #box{
    border: 1px solid;
    height: 100%;
    width: 100%;
    background-color: #805669;
    box-shadow: 5px 5px 8px rgb(0, 0, 0);
  }

  #example1 {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
  }

  .item{
   height: 135px;
   width: 100%;
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 15px;
   padding-bottom: 15px;
  }
  .test{
    position: absolute;
    font-size: 20px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
}
