page-detail {

  .grid{
    display: flex;
    height: 100%;
    padding: 0px;
    }

.items-1{
  height: 29%;
  width: 100%;
  background-color: #6F5060;
}
.items-2{
  height: 22%;
  width: 100%;
  background-color: #866979;
}
.items-3{
  height: 22%;
  width: 100%;
  background-color: #A78682;
}

.swiper-slide img{
  width:100%;
}

#item{
position: absolute;
top:50%;
width: 70%;
left:50%;
transform: translate(-50%,-50%);
color: white;
font-size: 20px;
}

#slide-row{
  height: 100%;
  width: 100%;
}
#item-row{
  height: 30%;
  width:100%;
}
#item-info{
  position: absolute;
  top:50%;
  width: 70%;
  left:50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 20px;
}

#itemImg{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 24px;
}

#iconColor{
   color: #AA5371;
}

.imgBox{
  height: 38.5%;
  width: 100%;
}
#starPosition{
  position: absolute;
  left: 53%;
  top: 5%;
}

#votes{
  font-size: 16px;
}
#imgCol{
  height: 100%;
  width: 100%;
}

.iconbutton{
  background-color: black;
  width: 32px;
  border-radius: 50px;
}
#arrowLeft{
  right: 125%;
}
#arrowRight{
   left: 125%;
}
#heart{
  position: absolute;
  font-size: 54px;
  top:30%;
  left:50%;
  transform: translate(-50%,-50%);
   color: rgb(215, 60, 121);
}

.swiper-pagination-bullet{
  background: #AA5371;
}

#map {
  width: 100%;
  height: 100%;
}
.slide-zoom{
  width: 100%;
  height: 100%;
}

.swiper-slide img{
  width:100%;
}

}
